{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended"],
    "parserOptions": { "ecmaVersion": 2018, "sourceType": "module" },
    "rules": {
        "import/extensions": "off",
        "allowEmptyReject": 0,
        "new-cap": 0,
        "no-invalid-this":0,
        "require-jsdoc" : [
            "error", 
            {
                "require": {
                    "FunctionDeclaration": false,
                    "MethodDefinition": false,
                    "ClassDeclaration": false,
                    "ArrowFunctionExpression": false,
                    "FunctionExpression": false
                }
            }
        ],
        "valid-jsdoc" : 0,
        "no-console": 0,
        "no-underscore-dangle": "off",
        "@typescript-eslint/no-explicit-any": "off"
    }
}
