PORT=3001
NODE_ENV=production
NODE_TLS_REJECT_UNAUTHORIZED=0
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_MAP_API_KEY=
NEXT_PUBLIC_STRIPE_KEY=
NEXT_PUBLIC_GOOGLE_CLIENTID=
NEXT_PUBLIC_GOOGLE_CLIENTSECRET=
NEXT_PUBLIC_GOOGLE_REDIRECT_URI=

