.forwork {
    margin-bottom: 80px;
    padding: 0 0 80px;

    .tabpanel {
        max-width: 1080px;

        .divider {
            border-bottom: 1px solid #EBEBEB;
        }

        .breadcrums {
            margin: 40px 0;

            h1 {
                font-weight: 700;
                color: #484848;
            }
        }

        h5 {
            margin: 32px 0 8px;
            color: #484848;
            font-size: var(--host-index-title);
            font-weight: 700;
        }
        @media (min-width: 1000px) {
        .tab {
            display: flex;

            .tabwidth {
                width: 54%;
            }
        }
    }
                .button {
                    color: #008489;
                    background: none;
                    border: none;
                    font-weight: 800;
                }

                .button:hover {
                    text-decoration: underline;
                }

                .save {
                    background-color: #008489;
                    border: transparent;
                    border-radius: 4px;
                    color: var(--btn-color);
                    font-weight: 800;
                    padding: 10px 22px;
                }

                p {
                    color: #484848;
                }

                h6 {
                    font-weight: 600;
                    color: #484848;
                }
            
                @media (min-width: 1000px) {
            .makeall {
                margin: 0 0 0 86px;
                width: 32%;

                h5 {
                    margin-top: 0;
                    color: #484848;
                }

                >div {
                    border: 1px solid rgb(221, 221, 221);

                    p {

                        a {
                            color: var(--text-color);
                            text-decoration: underline !important;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        
        }
    }

