.taxes {
    margin-bottom: 80px;
    padding: 0 0 80px;

    .tabpanel {
        max-width: 1080px;

        .divider {
            border-bottom: 1px solid #EBEBEB;
        }

        .breadcrums {
            margin: 40px 0;

            h1 {
                font-weight: 700;
                color: var(--font-color-profile); 
                font-size: var(--h1-font-size);
                font-family: var(--font-family-base);
            }
        }

        h5 {
            margin: 32px 0 8px;
            font-size: var(--host-index-title);
            font-weight: 700;
        }

        .tab {
            display: flex;
            @media (min-width: 1000px) {
            .tabwidth {
                width: 66.66%;
            }
        }

                .tablist {
                    border-bottom: 1px solid rgb(221, 221, 221);

                    button {
                        text-transform: capitalize;
                        font-weight: 600;
                        color: var(--trips-subtitle-color);
                    }

                    >div>div>span {
                        background-color: var(--search-button-color) !important;
                    }
                }

                .panels {
                    padding: 0;

                    .button {
                        background-color: var(--text-color);
                        color: var(--btn-color);
                        border: none;
                        border-radius: 8px;
                        padding: 14px 24px;
                    }

                    p {
                        a {
                            text-decoration: underline !important;
                            color: var(--text-color);
                            font-weight: 600;
                        }
                    }
                }
        }
    }
}
//modal 
.modal {
    .modal_header {
        border-bottom: 1px solid #d6d6d6;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        h6 {
          font-weight: bold; 
        }
    }
    p {
        padding: 20px;
        margin-bottom: 0;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        border-top: 1px solid #acacac;

        button {
            padding: 10px;
            border: 1px solid var(--text-color);
            background-color: var(--text-color);
            border-radius: 5px;
            color: var(--btn-color);
        }
        .button2 {
            width: 70px;
            padding: 10px;
            border: 1px solid var(--btn-color);
            background-color:var(--btn-color);
            border-radius: 5px;
            color: var(--text-color);
            text-decoration: underline;
        }
    }
   .content {
        max-height: 250px;
        overflow: auto;
        select  {
            width: 100%;
            height: 56px;
            border: 1px solid #c4c4c4 ;
            border-radius: 5px;
            padding: 5px; 
            margin-top: 15px;
            background-color: var(--btn-color);
            margin-bottom: 30px;
          }
   }
    
}