@import '@/app/variable.scss';

.opportunity_hub {
    margin-top: 32px !important;

    .container {
        padding: 0px 80px;
        max-width: 1440px !important;
        margin: auto;

        .main_content {
            margin: 80px 0px;

            h1 {
                font-size: var(--host-index-title);
                font-weight: 700;
                margin-bottom: 24px;
            }

            .content_resources {
                display: grid;
                gap: 24px;
                grid-template-columns: auto auto auto;
                .list_hst{
                    .list_image{
                        width: 72px;
                        flex-grow: 0;
                        flex-shrink: 0;
                        flex-basis: 72px;
                        height: 72px;
                        border-radius: 12px;
                        position: relative;
                        overflow: hidden;
                    }
                    .list_desc{
                        font-size: var(--homepage-header-size);
                        color: var(--footer-text-color);
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}