.body {
    margin-top: 20px;
    padding: 0px 80px;
    .content {
        .para{
            text-align: justify;
        }
    }
}
@media screen and (max-width:'678px'){
    .body{
        padding: 0px 40px; 
    }
}
@media screen and (max-width:'460px'){
    .body{
        padding: 0px 20px; 
    }
}