.payments {
    margin-bottom: 80px;
    padding: 0 0 80px;

    .tabpanel {
        max-width: 1080px;

        .divider {
            border-bottom: 1px solid #EBEBEB;
        }

        .breadcrums {
            margin: 40px 0;

            .link {
                color: inherit;
            }

            h1 {
                font-weight: 700;
                color: #484848;
            }
        }

        h5 {
            margin: 32px 0 8px;
            font-size: var(--host-index-title);
            font-weight: 700;
        }

        .tab {
            // @media (min-width: 1000px) {
            .tablist {
                width: max-content;
                border-bottom: 1px solid rgb(221, 221, 221);

                button {
                    text-transform: capitalize;
                    font-weight: 600;
                    color: var(--trips-subtitle-color);
                }

                >div>div>span {
                    background-color: var(--search-button-color) !important;
                }
            }
        // }
            .panels {
                padding: 0;

                p {
                    color: rgb(113, 113, 113) !important;
                }
                @media (min-width: 1000px) {
                .makeall {
                    margin: 0 0 0 86px;
                    width: 40%;

                    h6 {
                        margin: 24px 0 8px;
                    }

                    link {
                        color: var(--text-color);
                    }

                    >div {
                        border: 1px solid rgb(221, 221, 221);
                        border-radius: 12px;

                        .para {
                            color: rgb(113, 113, 113) !important;

                            a {
                                color: var(--text-color);
                                text-decoration: underline !important;
                            }
                        }
                    }
                }
            }

                .button {
                    background-color: var(--search-button-color);
                    font-weight: 700;
                    color: var(--btn-color);
                    border: none;
                    border-radius: 8px;
                    padding: 12px 22px;
                }
                .box{
                    padding: 10px;
                    border: 1px solid var(--trips-subtitle-color);
                    background-color: transparent;
                    border-radius: 5px;
                }
            }
        }
    }
}
.modal {
    h6 {
        display: flex;
        justify-content: center;
        font-weight: 800;
    }
    .details {
        padding: 20px;
    }
    .icon {
        display: flex;
        gap:5px;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        border-top: 1px solid #acacac;
    }
    button {
        width: 70px;
        padding: 10px;
        border: 1px solid var(--text-color);
        background-color: var(--text-color);
        border-radius: 5px;
        color: var(--btn-color);
    }
    .button2 {
        width: 70px;
        padding: 10px;
        border: 1px solid var(--btn-color);
        background-color: var(--btn-color);;
        border-radius: 5px;
        color: var(--text-color);
        text-decoration: underline;
    }
}