.notify {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-color);
    // border: 1px solid #d4d2d2;
    // border-radius: 50%;
    // width: 40px;
    // height: 40px;
    cursor: pointer;
}
.Menuitem{
    .Header{
        padding: 15px;
        position: sticky;
        top: 0;
        background-color: var(--btn-color);
        z-index: 9999;
    }
    .clear{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        button{
            background-color: transparent;
            border: 1px solid transparent;
            text-decoration: underline;
        }
    }
    .notificationBody{
        padding: 5px;
        transition: border-bottom 0.3s ease ; 
        p{
            margin-bottom: 0;
        }
    }
      .closeIconContainer {
        opacity: 0;
        transition: opacity 0.3s ease; 
      }
      
      .notificationBody:hover .closeIconContainer {
        opacity: 1;
      }
      .noContent{
        display: grid;
        align-items: center;
        gap: 10px;
        padding: 15px;
        margin: auto;
        p{
            display: flex;
            justify-content: center;
            margin-bottom: 0;
            font-weight: bold;
            color: var(--trips-subtitle-color);
        }
      }
}
.stickyFooter{
    position: sticky;
    bottom: 0;
    background-color: var(--btn-color);
    z-index: 9999;
    .pagination{
        padding: 0;
        margin: 0;
        p{
            margin-bottom: 0;
        }
    }
   
}
//drawer

.close {
    border: 1px solid var(--text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 20px;
  }
  .notifyIcon{
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--trips-subtitle-color);
    }
      .p{
        font-size: var(--notification-size);
        margin-bottom: 0;
        color: var(--trips-subtitle-color);
      }
  }