// @import '@/app/variable.scss';;

.all_support {

    .slidemain {
        .slidebackground {
            background-color: #f7f7f7;
        }
    }

    .support_input {
        
        .support_absolute {
            top: 10px;
            left: 60px;
        }

        .support_relative_input {
            background-color: #f7f7f7;
            border: 1px solid #cccbcb;
        }
    }
}